@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  width: 100%;
  background-color: hsl(0deg, 0%, 95%);
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  transition: background-color 0.5s, color 0.5s ease;
}
.body.body--dark {
  background-color: hsl(207deg, 26%, 17%);
  color: hsl(0deg, 0%, 100%);
}

h1,
h2,
h3 {
  font-weight: 800;
}

.header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0 auto;
  z-index: 4;
  padding: 1.5rem 0;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 2px grey;
  transition: background-color 0.5s, color 0.5s, box-shadow 0.2s ease;
}
.header--dark {
  background-color: hsl(209deg, 23%, 22%);
  box-shadow: none;
}
.header__container {
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header__title {
  font-size: 1rem;
  font-weight: 800;
}
.header__feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 106px;
}
.header__text {
  font-weight: 600;
}

.form__filter-container, .form__search-container {
  position: relative;
  margin: 2rem 0;
}
.form__search-container {
  width: 100%;
  max-width: 395px;
}
.formfilter-container {
  width: 100%;
  max-width: 210px;
}
.form__search {
  width: 100%;
  height: 3rem;
  text-align: center;
  padding: 0 2rem;
  font-size: 1rem;
  border-radius: 10px;
  color: hsl(0deg, 0%, 52%);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  border: none;
  background-color: hsl(0deg, 0%, 100%);
  transition: background-color 0.5s, color 0.5s, ease;
}
.form__search--dark {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}
.form__search--dark::-moz-placeholder {
  color: hsl(0deg, 0%, 100%);
}
.form__search--dark:-ms-input-placeholder {
  color: hsl(0deg, 0%, 100%);
}
.form__search--dark::placeholder {
  color: hsl(0deg, 0%, 100%);
}
.form__search-icon {
  position: absolute;
  transform: translateY(50%);
  padding-left: 30px;
  color: hsl(0deg, 0%, 52%);
  transition: background-color 0.5s, color 0.5s ease;
}
.form__search-icon--dark {
  color: hsl(0deg, 0%, 100%);
}
.form__filter {
  min-width: 210px;
  height: 3rem;
  padding-left: 2rem;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: 600;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  transition: background-color 0.5s, color 0.5s ease;
}
.form__filter--dark {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}
.form__filter:active {
  border: none;
}
.form__filter-icon {
  transform: translate(-150%, 50%);
  position: absolute;
}

.cards-grid,
.form {
  margin: 2rem auto;
  width: 92%;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 3rem;
}

.card {
  width: 100%;
  height: 100%;
  max-width: 260px;
  background-color: #ffffff;
  border-radius: 10px;
  transition: background-color 0.5s, color 0.5s ease;
}
.card--dark {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}
.card__flag-container {
  width: 100%;
}
.card__flag-img {
  width: 100%;
  height: 170px;
  border-radius: 10px 10px 0 0;
}
.card__about {
  margin: 2rem;
}
.card__title {
  margin: 0.5rem 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 800;
}
.card__info--bold {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.detail-card {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: scroll;
  background-color: hsl(0deg, 0%, 95%);
  z-index: 2;
  padding-top: 7rem;
  margin-left: -100%;
  transition: margin 1s, background-color 0.5s, color 0.5s ease;
}
.detail-card--dark {
  background-color: hsl(207deg, 26%, 17%);
  color: hsl(0deg, 0%, 100%);
}
.detail-card.show {
  margin-left: 0;
}
.detail-card__top-info > p, .detail-card__mid-info > p {
  padding: 0.5rem 0;
}
.detail-card__img-container, .detail-card__img {
  width: 100%;
  max-width: 340px;
  height: 100%;
}
.detail-card__top-info, .detail-card__mid-info, .detail-card__less-info {
  margin: 1rem 0;
}
.detail-card__hero-img, .detail-card__about, .detail-card__btn-container {
  width: 80%;
  margin: 1.5rem auto;
}
.detail-card__back-btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px 2px rgb(145, 145, 145);
  transition: background-color 0.5s, color 0.5s, box-shadow 0.2s ease;
}
.detail-card__back-btn--dark {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
  box-shadow: none;
}
.detail-card__back-btn > i {
  font-size: 1.1rem;
}
.detail-card__back-btn > span {
  padding-left: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
.detail-card__less-container {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem 0;
  gap: 1.5rem 1rem;
}
.detail-card__less-item {
  padding: 1rem 0.5rem;
  text-align: center;
  background: #ffffff;
  box-shadow: 2px 2px 3px 3px hsl(0deg, 0%, 70%);
  width: 10rem;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s, box-shadow 0.2s ease;
}
.detail-card__less-item--dark {
  background-color: hsl(209deg, 23%, 22%);
  box-shadow: none;
}

@media screen and (min-width: 700px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr;
  }
  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1023px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .detail-card {
    display: grid;
    grid-template-columns: 45% 50%;
    padding: 7rem 2rem;
    gap: 2rem;
  }
  .detail-card__hero-img, .detail-card__about, .detail-card__btn-container {
    width: 95%;
    height: 100%;
    margin: 0;
  }
  .detail-card__img-container, .detail-card__img {
    max-width: 100%;
    height: 100%;
  }
  .detail-card__about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    gap: 15px 15px;
    margin: 0;
  }
  .detail-card__title, .detail-card__btn-container, .detail-card__less-info {
    grid-column: 1/3;
  }
  .detail-card__top-info, .detail-card__mid-info, .detail-card__less-info {
    margin: 0;
  }
  .detail-card__less-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .detail-card__less-item {
    width: 8rem;
  }
}
@media screen and (min-width: 1430px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 2400px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=style.css.map */